@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-primary-dark: #1E40AF;
  --color-primary-light: #EFF6FF;
  --color-success: #16A34A;
  --color-success-light: #F0FDF4;
  --color-danger: #DC2626;
  --color-danger-light: #FEF2F2;
  --color-warning: #F59E0B;
  --color-warning-light: #FEF3C7;
  --color-neutral-border: #E5E7EB;
  --color-neutral-subtext: #4B5563;
  --color-neutral-maintext: #111827;
  --color-neutral-bg: #F9FAFB;
}

@layer base {
  body {
    @apply bg-neutral-bg text-neutral-maintext antialiased font-sans;
    margin: 0;
    padding: 0;
  }
}
